.calendar {
    display: flex;
    flex-direction: column;
}

.waitlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.profile-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr;
}