.simple-search {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
}

.searchterm {
    grid-column: 1;
    grid-row: 1;
}

.dropdownsearch {
    grid-column: 2;

}

.search-drop-down {
    display: flex;
    background-color: whitesmoke;
    flex-direction: column;
    align-items: center;
}