.drop-boxes {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-around;
}

.searchtermlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.list-item {
    display: flex;
    margin-top: 10px;
}