@font-face {
  font-family: "Nosifer Caps";
  src: url("//fonts.googleapis.com/css?family=Nosifer+Caps");
}
@font-face {
  font-family: 'TangoMacabre';
  src: local('/Users/jaclynfrench/Library/Fonts/TangoMacabre.ttf'), format('ttf');
}

@font-face {
  font-family: 'Arvo';
  src: url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

